$line-height: 1.64;
$line-height-sm: 1.2;

$letter-spacing: 0.1em;

$gap: 20px;
$gap-xl: 40px;

$container-primary: 1110px;
$container-secondary: 540px;
$container-video: 600px;

$font-weight-title: 500;
$font-weight-normal: 400;
