@use "../abstracts/" as *;
.navbar {
  margin-bottom: 141px;
  @include lg-min() {
    margin-bottom: 141px;
  }
  @include lg-sm {
    margin-bottom: 70px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include sm() {
      justify-content: center;
    }
  }

  &__link {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    color: $color-blacurl;
    letter-spacing: $letter-spacing;

    &--first {
      padding-left: 0;
    }

    &--active {
      color: $color-link--active;
      font-weight: $font-weight-title;
    }
  }
}
