@use "../abstracts/" as *;
.header {
  background-color: $color-white;
  padding-top: 65px;
  padding-bottom: 141px;
  @mixin sm() {
    padding-bottom: 80px;
  }
  &__container {
    @extend %container;
  }
}
